::ng-deep .example-custom-date-class {
  background: red;
  border-radius: 100%;
}

.profile-pic {
  width: 50%;
  border-radius: 50%;
  border: #007bff solid 1px;
  text-align: center;
  margin: auto;
  margin-top: 8px;
}
